{% extends 'layouts/base.html' %}
{% block title %}
  Acc Status
{% endblock %}
{% block content %}
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>اسم المؤسسة</th>
          <th>نوع التقديم</th>
          <th>حالة الاعتماد</th>
          <th>الانشطة</th>
          <th>created at</th>
          <th>contorl</th>
        </tr>
      </thead>
      <tbody>
        {% for val in AccStatus %}
          <tr>
            <td>{{ val.account.company_name }}</td>
            <td>{{ val.Accrediting_Body }}</td>
            <td>{{ val.Accreditation_Status }}</td>
            <td><a href="{% url 'create_college_activities' val.id %}">انشطة المؤسسة</a></td>
            <td>{{ val.created_at }}</td>
            <td>
              <a href="{% url 'edit.acc' val.id %}" class="btn btn-outline-warning"><i class="fa fa-edit"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
