{% extends 'layouts/base.html' %}
{% load static %}
{% block style %}

{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-header">
          <form action="" method="post">
            {% csrf_token %}
            <select class="form-control" id='collage' name="id" required>
              <option value=""> select </option>
              {% for val in account %}
                <option value="{{ val.id }}">{{ val.company_name }}</option>
              {% endfor %}
                
            </select>
            <input type="submit" value="بحت" class="btn btn-primary">
          </form>
          
        </div>
        <div class="card-body">
          {% comment %} <h4 class="card-title">Bar chart</h4> {% endcomment %}
          <div class="row">
            {% for val in depe %}
            <div class="col-4">
              <p>{{ val.quality_standards.name }}</p>
              <canvas class="canvas" data-value='{{ val.ratio }}'></canvas>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
<script src="{% static 'assets/js/chart.js' %}"></script>
<script src="https://unpkg.com/chartjs-gauge@0.3.0/dist/chartjs-gauge.js"></script>
<script>
  $(function(){
  
    var ctx = $('.canvas')

    
   //   console.log( index + ": " + $( this ).text() );
   
    setTimeout(function(){
      $('.canvas').each(function( index ) {
        var e = $(this)
        var l= $(this).get(0).getContext("2d")
        var ret = e.data('value')/100
        var chart = new Chart(l, {
          type: 'gauge',
          data: {
            datasets: [{
              value: e.data('value'),
              minValue: 0,
              maxValue:100,
              data:[100],
              backgroundColor: ['green'],
            }]
          },
          options: {
            needle: {
              radiusPercentage: 2,
              widthPercentage: 3.2,
              lengthPercentage: 80,
              color: 'rgba(0, 0, 0, 1)'
            },
            valueLabel: {
              display: true,
              formatter: (value) => {
                return '%' + Math.round(value);
              },
              color: 'rgba(255, 255, 255, 1)',
              backgroundColor: 'rgba(0, 0, 0, 1)',
              borderRadius: 5,
              padding: {
                top: 10,
                bottom: 10
              }
            }
          }
        });
      })
      
    },500)
  
    })
    

</script>
{% endblock %}
